<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="10255" />
    <add key="host" value= "YOURSERVER.documents.azure.com"/>
    <add key="username"  value= "YOURUSERNAME"/>
    <add key="password"  value= "YOURVERYLONGCREDENTIALFROAZURE"/>
    <add key="database"  value= "YOURDBNAME"/>
  </appSettings>
</configuration>